<template>
    <style>

        .w70{
            width: 70% !important;
        }

        .frm-pdv{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }

        .frm-main{
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        .sider{
            height: calc(100% - 50px);
        }

        .left{
            min-width: 60%;
        }

        .fds-cliente{
            height: 130px;
        }

        .fds-controle{
            overflow-y: scroll;
        }

        .fds-comanda{
            height: calc(100% - 190px);
        }

        .fds-button{
            display: flex;
            justify-content: center;
        }

        .fds-button *{
            min-width: 150px;

        }

        .itens-comanda{
            overflow-y: scroll;
            max-height: 100%;
        }

        #tbl_total{
            margin-top: 0 !important;
        }

        #edtSaldo{
            font-size: 2em;
            text-align: center;
            padding: 0;
        }

        #edtValRec, #edtTroco, #edtTotal{
            padding: 0;
            font-size: 2em;
            text-align: center;
        } 

        #tblItens, #tblCliente{
            font-size: 0.8em;
        }

        #card-caixa_pdv table{
            margin-top: -20px;
        }

        .sider .inline{
            padding: 5px;
        }

        /* Media Queries */

        @media all and (max-width : 768px) {
            .frm-main{
                flex-wrap: wrap;
                gap: 15px;
            }

        }

    </style>
  
    <div class="frm-pdv">
        <div class="frm-main">
            <div class="sider left">
                <fieldset class="fds-cliente">
                    <legend>Cliente</legend>
                    <table id="tblCliente"></table>
                </fieldset>
                <fieldset class="fds-comanda">
                    <legend>Comanda</legend>
                    <div class="itens-comanda">
                        <table id="tblItens"></table>
                    </div>
                </fieldset>
                <fieldset class="fds-button">
                    <button id="btnAddItem" disabled><span class="mdi mdi-plus-thick"></span>Adicionar Ítem</button>
                    <button id="btnComanda"><span class="mdi mdi-magnify"></span> Comandas</button>
                    <button id="btnPrint"><span class="mdi mdi-printer-pos-outline"></span> Imprimir</button>
                </fieldset>                
            </div>
            <div class="sider">
                <fieldset class="sider fds-controle">
                    <legend>Caixa</legend>
                    <table id="tbl_total"></table>
                    <div class="inline">
                        <label for="edtSaldo">Saldo Devido</label>
                        <input type="text" id="edtSaldo" value="R$0,00" disabled>
                    </div>
                    <div class="inline">
                        <label for="edtValRec">Valor Recebido</label>
                        <input type="text" id="edtValRec" onfocus="this.select();" onkeyup="valFloat(this)" onkeypress="return event.which== 13 ? troco('edtSaldo','edtValRec','edtTroco') : null" inputmode="decimal" value="0">
                    </div>
                    <div class="inline">
                        <label for="edtTroco">Troco</label>
                        <input type="text" id="edtTroco" value="R$0,00" disabled>
                    </div>
                    <div class="inline">
                        <select id="cmbModoPgto">
                            <option value="DIN" selected>Dinheiro</option>
                            <option value="DEB">Cartão de Débito</option>
                            <option value="CRD">Cartão de Crédito</option>
                            <option value="PIX">Pix</option>
                            <option value="CHK">Cheque</option>
                            <option value="VRF">Vale Refeição</option>
                            <option value="SLD">Saldo Cliente</option>
                            <option value="CRT">Cortesia</option>
                        </select>
                    </div>
                </fieldset >

                <fieldset class="fds-button">
                    <button id="btnParcial" disabled><span class="mdi mdi-cash"></span>Receber Parcial</button>
                    <button id="btnFinaliza" disabled><span class="mdi mdi-check-bold"></span>Finalizar</button>
                </fieldset> 
            </div>            
        </div>
    </div>


</template>
<script>
    const pageData = main_data.cxa_pdv.data
    const pageFunc = main_data.cxa_pdv.func
    const pageScreen = document.querySelector('#card-cxa_pdv')
    pageScreen.classList.add('fullscreen')

    function pageStart(){
        pageFunc.clear()

    }

    pageFunc.clear =()=>{
        pageScreen.querySelector('#btnFinaliza').disabled = 1
        pageScreen.querySelector('#btnParcial').disabled = 1
        pageScreen.querySelector('#btnAddItem').disabled = 1
        pageScreen.querySelector('#btnPrint').disabled = 1
        pageScreen.querySelector('#edtValRec').value = '0'
        pageScreen.querySelector('#edtTroco').value = 'R$0,00'
        pageScreen.querySelector('#edtSaldo').value = 'R$0,00'
        pageScreen.querySelector('#tblCliente').innerHTML = ''
        pageScreen.querySelector('#tblItens').innerHTML = ''
        pageScreen.querySelector('#tbl_total').innerHTML = ''
    }

    pageFunc.buscaComanda = (data)=>{
        pageData.comanda = data
        const tbl_cli = pageScreen.querySelector('#tblCliente')
        tbl_cli.head('Nome,CPF,Tel')
        tbl_cli.plot(data,'cliente,cpf,cel','Upp,cpf,tel')

        data.aberta == '1' ? pageScreen.querySelector('#btnFinaliza').disabled = false : null
        data.aberta == '1' ? pageScreen.querySelector('#btnParcial').disabled = false : null

        pageScreen.querySelector('#edtTroco').value = 'R$0,00'
        pageScreen.querySelector('#btnAddItem').disabled = false
        pageScreen.querySelector('#btnPrint').disabled = false
        
        pageFunc.fillItemComanda()
    }

    pageFunc.fillItemComanda = ()=>{

        const params = new Object;
            params.id_comanda = pageData.comanda.id
        const myPromisse = queryDB(params,'CXA-2');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            pageData.comanda.itens = json
            const tbl = pageScreen.querySelector('#tblItens')
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Descrição|w70, Und.|mobiHide,Qtd.,Preço|mobiHide,Sub_total')
            let tot = 0
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'descricao|w70,und|mobiHide,qtd,preco|mobiHide,sub_total','Upp,Upp,str,R$.,R$.')
                tot += Number(json[i].sub_total)
            }
            pageData.comanda.total = tot.toFixed(2)
            const saldo_dev = (tot - Number(pageData.comanda.recebido)).toFixed(2)
            const tbl_total = pageScreen.querySelector('#tbl_total')
            tbl_total.head('Valor Comanda, Pago, Total')
            tbl_total.plot({'total':pageData.comanda.total,'pago':Number(pageData.comanda.recebido),'saldo_dev':saldo_dev},'total,pago,saldo_dev','R$.,R$.,R$.')

            pageScreen.querySelector('#edtSaldo').value = `R$${saldo_dev}`
            pageScreen.querySelector('#edtValRec').value = saldo_dev
            pageScreen.querySelector('#edtValRec').focus()

        })  
    }

    pageFunc.setItemComanda = (obj)=>{
        const params = new Object;
            params.id = obj.id
            params.id_comanda = pageData.comanda.id
            params.id_produto = obj.id_produto
            params.val_unit = obj.val_unit
            params.qtd = obj.qtd
        const myPromisse = queryDB(params,'CXA-3');
        myPromisse.then((resolve)=>{
            setLog(`Item ${obj.qtd==0 ? 'Deletado': obj.id==0 ? 'Adicionado':'Editado'} - ${obj.descricao}, Qtd:${obj.qtd}, Valor Unit. R$${obj.val_unit}`)
            pageFunc.buscaComanda(pageData.comanda)            
        })
    }

    pageFunc.finaliza = ()=>{

        troco('edtSaldo','edtValRec','edtTroco')
        const saldo_dev = parseFloat(document.querySelector('#edtSaldo').value.substr(2,10))
        const recebido = parseFloat(document.querySelector('#edtValRec').value)
        const meutroco = parseFloat(document.querySelector('#edtTroco').value.substr(2,10))

        const params = new Object;
            params.id_comanda = pageData.comanda.id
            params.modo_pgto = pageScreen.querySelector('#cmbModoPgto').value
            params.valor_pgto = !ckb ? recebido  : meutroco >= 0 ? saldo_dev :  recebido
            params.saldo_cli = !ckb || meutroco < 0 ? meutroco : 0

        const myPromisse = queryDB(params,'CXA-7');
        myPromisse.then((resolve)=>{
            setLog(`Venda lançada -> Comanda:${params.id_comanda}, Valor:${params.valor_pgto}, Modo:${params.modo_pgto}`)
            pageFunc.clear()
        })
    }

    pageScreen.querySelector('#btnComanda').addEventListener('click',()=>{
        pageData.callback = (data)=>{
            pageFunc.buscaComanda(data)
        }
        openHTML('cxa_comanda.html','pop-up','Selecione a Comanda',pageData,800)
    })

    pageScreen.querySelector('#btnAddItem').addEventListener('click',()=>{
        pageData.callback = (data)=>{
            const item = new Object
                item.id = 0
                item.id_produto = data.id
                item.val_unit = data.preco
                item.qtd = getFloat(prompt(`${data.descricao} - Digite a quantidade:`))
                item.descricao = data.descricao
            if(item.qtd!=null){
                pageFunc.setItemComanda(item)
            }
        }
        openHTML('adm_produtos.html','pop-up',`Adicionar produto`,pageData,600)
    })

    pageScreen.querySelector('#btnPrint').addEventListener('click',()=>{
        comanda_itens(pageData.comanda)
    })

    pageScreen.querySelector('#tblItens').addEventListener('click',(e)=>{
        const row = e.target.parentNode
        if(typeof(row.data) == "object"){
            const qtd = Number(row.data.qtd)
            row.data.qtd = prompt(`${row.data.descricao} - Digite a quantidade:`,row.data.qtd)
            if(row.data.qtd!=null){
                pageFunc.setItemComanda(row.data)
            }else{
                row.data.qtd = qtd
            }
        }
    })

    pageScreen.querySelector('#btnFinaliza').addEventListener('click',()=>{
        if(confirm('Finalizar Comanda?')){
            pageFunc.finaliza()
        }
    })

    pageScreen.querySelector('#btnParcial').addEventListener('click',()=>{
        closeModal('caixa_pg_parcial')
        openHTML('caixa_pg_parcial.html','pop-up',`Comanda - ${pageData.comanda.id.padStart(8,0)} - ${pageData.comanda.nome.toUpperCase()}`,pageData.comanda,600)
    })


    pageStart()


</script>