<template>
    <style>
        .fds-itens{
            display: flex;
            padding: 10px;
            flex-wrap: wrap;
            gap: 15px;

        }
     
        #qr_code{
            border: solid 2px #000000;
            cursor: pointer;
            padding: 3px;
/*            display: none;*/
        }

        #qr_code:hover{
            border: solid 2px #FF0000;
            
        }

        .hide{
            display: none;
        }

        .big{
            font-size: 2.5em;
            width: 50px;
            height: 50px;
        }

        .center{
            text-align: center;
        }

        .total{
            font-size: 1.5em;
        }

    </style>
  
    <fieldset>
        <legend>Cliente</legend>
        <table id="tblCliente"></table>
        <div class="hide">
            <div id="qr_code"></div>
            <iframe name="frmPDF" id="frmPDF"></iframe>
        </div>
        <div class="line">
            <button id="btnPrint" class="btn-round big hide" disabled><span class="mdi mdi-printer-pos"></span></button>
            <button id="btnPDF" class="btn-round big" disabled><span class="mdi mdi-printer-pos"></span></button>
        </div>
    </fieldset>
    <fieldset class="fds-itens">
        <legend>Ítens</legend>
        <table id="tblItens"></table>
    </fieldset>
    <div class="line">
        <button id="btnAddItem" disabled><span class="mdi mdi-plus-circle-outline"></span> Adicionar Ítem</button> 
    </div>

</template>
<script>
    const pageData = main_data.cxa_view_comanda.data
    const pageFunc = main_data.cxa_view_comanda.func
    const pageScreen = document.querySelector('#card-cxa_view_comanda')

    function pageStart(){
        pageFunc.fillItemComanda()
        const tbl = pageScreen.querySelector('#tblCliente')
        tbl.head('Nome,CPF|mobiHide,Telefone')
        tbl.plot(pageData,'cliente,cpf|mobiHide,cel|','Upp,cpf,tel')
        
        pageScreen.querySelector('#btnAddItem').disabled = !Number(pageData.aberta)

/*        
        const qrcode = new QRCode("qr_code", {
            text:`https://www.flexibus.com.br/pesqueiro/index.html?token=${pageData.token.substr(0,20)}`,
            width: 512,
            height: 512,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H,
            size : 300
        });
        
        delay(100).then(() => {
            comanda_virual(pageData).then(()=>{
                pageScreen.querySelector('#frmPDF').src = window.location.href+`config/user/${localStorage.getItem('id_user')}/temp/comanda.pdf`
                pageScreen.querySelector('#btnPrint').disabled = false
                pageScreen.querySelector('#btnPDF').disabled = false
            })
        })        

        qrcode.makeCode(`https://www.flexibus.com.br/pesqueiro/index.html?comanda=${pageData.token}`)
*/        
    }



    pageFunc.fillItemComanda = ()=>{
        const tbl = pageScreen.querySelector('#tblItens')
        tbl.innerHTML = ''
        const params = new Object;
            params.id_comanda = pageData.id
        const myPromisse = queryDB(params,'CXA-2');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)    
            tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
            tbl.head('Descrição|w70, Und.|mobiHide,Qtd.|center,Preço Unt.|center,Sub_total|center')
            let tot = 0
            for(let i=0; i<json.length;i++){
                tbl.plot(json[i],'descricao|w70,und|mobiHide,qtd|center,preco|center,sub_total|center','Upp,Upp,str,R$.,R$.')
                tot += Number(json[i].sub_total)
            }
            const tr = document.createElement('tr')
            tr.innerHTML = `<th class="mobiHide"></th><th colspan="2"></th><th class="total">Total</th><th class="total">R$${getFloat(tot.toFixed(2))}</th>`
            tbl.appendChild(tr)
        })
    }

    pageFunc.setItemComanda = (obj)=>{
        const params = new Object;
            params.id = obj.id
            params.id_comanda = pageData.id
            params.id_produto = obj.id_produto
            params.val_unit = obj.val_unit
            params.qtd = obj.qtd
        const myPromisse = queryDB(params,'CXA-3');
        myPromisse.then((resolve)=>{
            setLog(`Item ${obj.qtd==0 ? 'Deletado': obj.id==0 ? 'Adicionado':'Editado'} - ${obj.descricao}, Qtd:${obj.qtd}, Valor Unit. R$${obj.val_unit}`)
            pageFunc.fillItemComanda()
            main_data.cxa_comanda.func.fillComanda()
        })
    }

    pageScreen.querySelector('#btnPrint').addEventListener('click',()=>{
        window.frames["frmPDF"].print();
    })

    pageScreen.querySelector('#btnPDF').addEventListener('click',()=>{
        window.open(window.location.href+`config/user/${localStorage.getItem('id_user')}/temp/comanda.pdf`, '_blank').focus()
    })

    pageScreen.querySelector('#btnAddItem').addEventListener('click',()=>{
        pageData.callback = (data)=>{
            const item = new Object
                item.id = 0
                item.id_produto = data.id
                item.val_unit = data.preco
                item.qtd = getFloat(prompt(`${data.descricao} - Digite a quantidade:`))
                item.descricao = data.descricao
            if(item.qtd!=null){
                pageFunc.setItemComanda(item)
            }
        }
        openHTML('adm_produtos.html','pop-up',`Adicionar produto`,pageData,600)
    })

    pageScreen.querySelector('#tblItens').addEventListener('click',(e)=>{
        const row = e.target.parentNode
        if(typeof(row.data) == "object"){
            const qtd = Number(row.data.qtd)
            row.data.qtd = prompt(`${row.data.descricao} - Digite a quantidade:`,row.data.qtd)
            if(row.data.qtd!=null){
                pageFunc.setItemComanda(row.data)
            }else{
                row.data.qtd = qtd
            }
        }
    })

    pageStart()


</script>