
<template>
    <style></style>

        <fieldset>
            <legend>Ítens</legend>
            <table id="tblItem"></table>            
        </fieldset>
        <div class="line">
            <button id="btnAdd">Adicionar</button>
        </div>
</template>
<script>

    const pageData = main_data.par_cardapio.data
    const pageFunc = main_data.par_cardapio.func
    const pageScreen = document.querySelector('#card-par_cardapio')

    function pageStart(){
        
        getFile('/../config/params/item_cardap.json').then((response)=>{
            fillItens(response)
        })        
    }

    function fillItens(response){
        pageData.itens = JSON.parse(response)
        const tbl = pageScreen.querySelector('#tblItem')
        tbl.head('Nome')
        let i=0
        for (let i=0; i<pageData.itens.length; i++) {
            tbl.plot({item:pageData.itens[i], index:i},`item`,'Upp')
        }
    }

    function saveItem(){
        saveFile(pageData.itens,'/../config/params/item_cardap.json').then((resolve)=>{        
            fillItens(resolve)
        })
    }

    pageScreen.querySelector('#btnAdd').addEventListener('click',()=>{
        const nome = prompt('Nome do Ítem:')
        if(nome){
            pageData.itens.push(nome)
        }
        saveItem()
    })

    pageScreen.querySelector('#tblItem').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        const tbl = []

        const edt = new Object
        edt.label = 'Editar'
        edt.link = ()=>{
            const nome = prompt('Nome do Ítem:',pageData.itens[data.index])
            if(nome){
                pageData.itens[data.index] = nome
                saveItem()
            }
        }            
        tbl.push(edt)

        const del = new Object
        del.label = 'Deletar'
        del.link = ()=>{
            if(confirm('Deletar este ítem do cardápio?')){
                pageData.itens.splice(data.index,1)
                saveItem()
            }
        }            
        tbl.push(del)

        menuContext(tbl,e)

    })

    pageStart()
</script>